[submodule "sysadmin/gkeyring"]
	path = sysadmin/gkeyring
	url = https://github.com/kparal/gkeyring
[submodule "utility/weather"]
	path = utility/weather
	url = https://github.com/l-r/weather.sh
[submodule "sysadmin/speetouch-keygen"]
	path = sysadmin/speetouch-keygen
	url = https://github.com/renatomartins/thomson-key
[submodule "sysadmin/wifite"]
	path = sysadmin/wifite
	url = https://github.com/derv82/wifite
[submodule "web/mixcloud-downloader"]
	path = web/mixcloud-downloader
	url = https://github.com/peppy/mixcloud-downloader
[submodule "sysadmin/tespeed"]
	path = sysadmin/tespeed
	url = https://github.com/Janhouse/tespeed
[submodule "utility/bd"]
	path = utility/bd
	url = https://github.com/vigneshwaranr/bd
[submodule "web/youtube_playlist"]
	path = web/youtube_playlist
	url = https://github.com/zaius/youtube_playlist
[submodule "misc/ansiweather"]
	path = misc/ansiweather
	url = https://github.com/fcambus/ansiweather
[submodule "utility/conversion/DokuWiki-to-Markdown-Converter"]
	path = utility/conversion/DokuWiki-to-Markdown-Converter
	url = https://github.com/ludoza/DokuWiki-to-Markdown-Converter
[submodule "media/mp3-scripts"]
	path = media/mp3-scripts
	url = https://github.com/mafrosis/mp3-scripts
