[submodule "sysadmin/gkeyring"]
	path = sysadmin/gkeyring
	url = https://github.com/kparal/gkeyring
[submodule "utility/weather"]
	path = utility/weather
	url = https://github.com/l-r/weather.sh
[submodule "sysadmin/speetouch-keygen"]
	path = sysadmin/speetouch-keygen
	url = https://github.com/renatomartins/thomson-key
[submodule "sysadmin/wifite"]
	path = sysadmin/wifite
	url = https://github.com/derv82/wifite
[submodule "web/mixcloud-downloader"]
	path = web/mixcloud-downloader
	url = https://github.com/peppy/mixcloud-downloader
[submodule "sysadmin/tespeed"]
	path = sysadmin/tespeed
	url = https://github.com/Janhouse/tespeed
[submodule "utility/bd"]
	path = utility/bd
	url = https://github.com/vigneshwaranr/bd
[submodule "web/youtube_playlist"]
	path = web/youtube_playlist
	url = https://github.com/zaius/youtube_playlist
[submodule "misc/ansiweather"]
	path = misc/ansiweather
	url = https://github.com/fcambus/ansiweather
[submodule "utility/conversion/DokuWiki-to-Markdown-Converter"]
	path = utility/conversion/DokuWiki-to-Markdown-Converter
	url = https://github.com/ludoza/DokuWiki-to-Markdown-Converter
[submodule "media/mp3-scripts"]
	path = media/mp3-scripts
	url = https://github.com/mafrosis/mp3-scripts
[submodule "sysadmin/LANs.py"]
	path = sysadmin/LANs.py
	url = https://github.com/DanMcInerney/LANs.py
[submodule "sysadmin/to"]
	path = sysadmin/to
	url = https://github.com/resultsreturned/to
[submodule "utility/cb-wmhacks"]
	path = utility/cb-wmhacks
	url = https://github.com/corenominal/cb-wmhacks
[submodule "utility/histo"]
	path = utility/histo
	url = https://github.com/visionmedia/histo
[submodule "utility/spark"]
	path = utility/spark
	url = https://github.com/holman/spark
[submodule "utility/todo.txt-cli"]
	path = utility/todo.txt-cli
	url = https://github.com/ginatrapani/todo.txt-cli
[submodule "sysadmin/recon-ng"]
	path = sysadmin/recon-ng
	url = https://bitbucket.org/LaNMaSteR53/recon-ng
[submodule "sysadmin/uberimg"]
	path = sysadmin/uberimg
	url = https://github.com/infinity0/uberimg
[submodule "web/Uppity"]
	path = web/Uppity
	url = https://github.com/Kiwi/Uppity
